@use "mixin";
.dashboard_product_box {
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include mixin.square(100%);
  }
  
  .create_product_btn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include mixin.square(2.5rem);
    @include mixin.flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgb(201, 9, 9);
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
  
  .product_management {
    @include mixin.flex(row, center, unset);
  padding: 4rem;

  section {
    overflow-y: hidden;
    width: 100%;
    height: 85vh;
    max-width: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
    background-color: white;
    padding: 5rem;
    @include mixin.flex(column, unset, unset, 1rem);
    position: relative;
    border-radius: 5px;

     h2 {
      @include mixin.heading(2px);
      text-align: center;
    }

     img {
      @include mixin.square(100%);
      object-fit: cover;
    }

     strong {
      font-weight: 300;
    }

     span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

     p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
     h3 {
      text-align: center;
      font-size: 2rem;
    }
  }   

    article{
      //height: 105vh;
     // min-height: 85vh;
      padding: 2rem;
      width: 100%;
      max-width: 400px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
      form {
        @include mixin.flex(column, unset, center, 2rem);
         h2 {
          text-transform: uppercase;
          letter-spacing: 2px;
        }
         img {
          @include mixin.square(5rem);
          object-fit: cover;
          border-radius: 5px;
        }
        div{
          width: 100%;
          position: relative;
          label {
            position: absolute;
            left: 0;
            top: -1.5rem;
          }
          input {
            @include mixin.inputStyle(
              100%,
              1rem,
              unset,
              1px solid rgba(13, 13, 13, 0.196)
            );
            border-radius: 5px;
          }
        }
        button {
          padding: 0.8rem;
          border: none;
          background-color: rgb(5, 107, 224);
          color: white;
          width: 100%;
          border-radius: 5px;
          font-size: 1rem;
          cursor: pointer;
        }

      }

    }
    .shipping_info_card {
       h1 {
        text-align: center;
        @include mixin.heading(2px);
      }
       h5 {
         margin: 2rem 0 0 0.5rem; 
        font-size: 1.1rem; 
        font-weight: 700; 
      }
      p {
        margin: 0.5rem; 
      }
       button {
        margin: 2rem 0;
        padding: 1rem;
        border: none;
        background-color: rgb(5, 107, 224);
        color: white;
        width: 100%;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    } 
  }
  
  .transaction_product_card {
    @include mixin.flex(row, unset, center, 1rem);
    background-color: yellow;
    > img {
      @include mixin.square(4rem);
      object-fit: cover;
      border-radius:5px;
    }
    > span {
      margin-left: auto;
    }
  }